<div class="row mb-5">
    <div class="col-md-8 col-xl-6 mx-auto">
        <div class="card mt-1">
            <div class="card-header">
                <div class="float-right"><img src="../../../assets/github_logo.png" alt="github_logo" width="30" height="30"></div>
                <h4> Search GitHub</h4>
            </div>

            <div class="card-body">
                <form [formGroup]="searchGroupForm">
                    <div class="form-group form-row">
                        <label for="search" class="col-md-4 col-form-label">Search: </label>
                        <div class="col-md-8">
                            <input type="text" class="form-control" id="search"
                                placeholder="Search github profile or topic" formControlName="searchItem">
                        </div>
                    </div>
                    
                    <div class="form-group form-row">
                        <label for="inputPassword" class="col-md-4 col-form-label">Search By: </label>
                        <div class="col-md-8">
                            <select class="form-control" formControlName="searchBy">
                                <option value="null">search by...</option>
                                <option *ngFor="let searchOption of searchOptions">{{searchOption}}</option>
                            </select>
                        </div>
                    </div>
                </form>
            </div>

            <div class="card-footer">
                <button class="btn btn-primary float-right" [disabled]="!searchGroupForm.value.searchBy" (click)="searchGithub()">Search</button>
            </div>
        </div>
    </div>
</div>